{
	"web": {
		"client_id": "XXXXXXX",
		"client_secret": "XXXXXXX",
		"project_id": "CottageLabsFinance",
		"auth_uri": "https://api.freeagent.com/v2/approve_app",
		"token_uri": "https://api.freeagent.com/v2/token_endpoint",
		"redirect_uris": "http://localhost/"
	}
}